<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="D://SE_project//Group work//tirth\\artify//signup.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="center"><h1><img src="logo7.jpg" width="200px" height="80px"></h1>
        <form method="post">
        <div class="fname">
            <input type="text" placeholder="Name">
        </div>
        <div class="lname">
            <input type="text" placeholder="Username">
          </div>  
          <div class="email">
            <input type="emil" name="email" id="email" placeholder="Enter Your Email">
           </div>
           <div class="passw">
            <input type="password" name="password" id="password" placeholder="Enter Your Passwors">     
        </div>
            <div class="cont">
                <input type="tel" name="contact" id="contact" placeholder="Contact_no" maxlength="10">
            </div>
             <div class="id">
            
            <input type="file" name="id_proof" id="id_proof" placeholder="Id_proof">
            </div>

            
            <div class="login">
               Already a member? <a href="login.html">Log In</a></div>
               
               <div class="signin">
             <center> <h4><a href="signinpage.html">Sign in</a></h4></center>
               
            </div>

            </form>
        </div>
</body>
</html>