<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
 
<div class="container">
  <h2>All Quiz is listed </h2>
  <p>Check the latest Quiz by our company. Make your skill to another lebel!<br>Best of Luck👍.</p>
  {% for quiz in quiz %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{quiz.title}}</h4>
      <p class="card-text">{{quiz.category}}&nbsp;&nbsp;{{quiz.created_at}}</p>
      <a href="/displayQuiz/{{quiz.pk}}/" class="card-link">Start</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  {% endfor %}
</div>

</body>
</html>
