<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>
<body class="sub_page">
  <div class="hero_area">
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="/static/img/lc/logo-no-background.png" height="50" width="200">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'docs' %}">Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'displayAllQuiz' %}">Quiz's</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}"> AboutUs </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">ContactUs</a>
              </li>
            </ul>
            {% if user.is_authenticated %}
           
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                welcome {{request.user.first_name}}
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="logout">Logout</a></li>
                <hr>
                <li><a href="#">Profile</a></li>
              </ul>
            </div>
               
            {% else %}
            <div class="col-md-5">
              <div class="search-box">
                      <button class="btn register"><a href="{% url 'register' %}">Register</a></button>
                      <button class="btn login"><a href="{% url 'login' %}">Login</a></button>  
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
</div>
<br />
<div class="container">
  <h2>All Quiz is listed </h2>
  <p>Check the latest Quiz by our company. Make your skill to another lebel!<br>Best of Luck👍.</p>
  {% for quiz in quiz %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{quiz.title}}</h4>
      <p class="card-text">{{quiz.category}}&nbsp;&nbsp;{{quiz.created_at}}</p>
      <a href="/displayQuiz/{{quiz.pk}}/" class="card-link">Start</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  {% endfor %}
</div>

</body>
</html>
