<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Quiz Management All-Quiz - LEADCODER</title>

   <!-- iconscout cdn path -->
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <!-- CSS File Link -->
   <link rel="stylesheet" href="/static/css/admin_style.css">
            </head>
          
<body>
   {% csrf_token %}
   <div class="sidebar" id="sidebar">
      <div class="logo">
         <h2>
            <div class="logo-img">
               <img src="/static/img/lc/logo-white.png" alt="">
            </div>            
         </h2>
      </div>

      <div class="sidebar-menu">
         <ul>
            <li>
               <i class="uil uil-dashboard"></i>
               <a href="/controlPanelForQuizManage/"><span>Dashboard</span></a>
            </li>
            <li>
               <i class="uil uil-clipboard-notes"></i>
              <a href="/allQuizPageForQuizManage/"><span>All Quiz</span></a>
            </li>
            
            <!-- <li>
               <i class="uil uil-shopping-bag"></i>
               <a href=""><span>Orders</span></a>
            </li> -->
            <li>
               <i class="uil uil-user-circle"></i>
               <a href="/profile/{{request.user.email}}/"><span>Account</span></a>
            </li>
            <li>
               <i class="uil uil-signin"></i>
               <span>Logout</span>
            </li>
         </ul>
      </div>
   </div>

   <div class="main-content" id="main-content">
      <header class="flex">
         <h2>
            <i class="uil uil-bars" id="menu-icon"></i>
            All Quiz
         </h2>
        <div class="admin-box flex" >
            <img src="/static/img/logo7.jpg" width="30px" height="30px">
            <div>
               <h4>{{admin.Admin_username}}</h4>
               <small>Admin</small>
            </div>
         </div>
      </header>

      <main>
       
         <div class="wrapper flex">
            <div class="projects">
               <div class="card-header flex">
                  <h3>Recents Quiz's</h3>
                  {% if quizUploadData %}
              {% if quizUploadData %}
              <button disabled>Quiz Upload get limit!</button>
              {% else %}
              <button><a href="/quizUpload/" class="link"> Add Quiz</a></button>
              {% endif %}
        {% elif quizUploadData5 %}
                  {% if quizUploadData5 %}
                  <button disabled>
                    <a href="" class="btn btn-primary">You Got the question limit!</a><i class="link"></i>
                  </button>
                  {% else %}
                  <button><a href="/quizUpload/" class="link"> Add Quiz</a></button>
                  {% endif %}
        {% else %}
                  {% if quizUploadDataUni %}
                  <button disabled>
                    <a href="" class="btn btn-primary">You Got the Quiz limit!</a><i class="link"></i>
                  </button>
                  {% else %}
                  <button><a href="/quizUpload/" class="link"> Add Quiz</a></button>
                  {% endif %}
                {% endif %}
                  </div>

               <table>
                  <thead>
                     <th>
                        <tr>
                           <td>Name</td>
                           <td>Category</td>
                           <td>Created at</td>
                           <td>Action</td>
                        </tr>
                     </th>
                  </thead>

                  <tbody>
                     {% for quiz in quiz %}
                     <tr>
                        <td>{{quiz.title}}</td>
                        <td>{{quiz.category}}</td>
                        <td>{{quiz.created_at}}</td>
                        <td>
                           <div class="dropdown show">
                              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Action
                              </a>
     
                                 <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                             <li><a href="/quizEdit/{{quiz.pk}}/">Edit</a></li>
                             <li><a href="/conformQuizForDelete/{{quiz.pk}}/">Delete</a></li>
                             <li><a href="/quizInvitePageForAdmin/{{quiz.pk}}/">Add Invite!</a></li>
                             <li><a href="/quizQuestionPageForAdmin/{{quiz.pk}}">Add Question!</a></li>
                           </ul>
                         </div>
                       </div>
                     </td>                        </td>
                     </tr>
                   
                  </tbody>
                  {% endfor %}
               </table>
            </div>
         </div>
      </main>
   </div>

   <script>
      let sideBar = document.getElementById('sidebar');
      let menuIcon = document.getElementById('menu-icon');
      let mainContent = document.getElementById('main-content');

      menuIcon.onclick = () => {
         sideBar.classList.toggle('toggleMenu');
         mainContent.classList.toggle('toggleContent');
      }
   </script>
</body>
</html>
