<!DOCTYPE html>
<html lang="en">
<head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Conform Page for delete</title>
</head>
<body>
              <form method="post" action="/quizSubmissionDelete/{{quizsubmitdata.qsid}}/">
                            {% csrf_token %}
                            <h4>{{quizsubmitdata.user}}</h4>
                            <h4>{{quizsubmitdata.quiz}}</h4>
                            <h3>Do you want to delete the Quiz Submission?</h3>
                            <input type="submit" value="Yes, Delete" />
                            <a href="{% url 'controlPanelForQuizManage' %}">Cancel</a>
              </form>
</body>
</html>