<!DOCTYPE html>
<html lang="en">
<head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>order</title>
              <link rel="stylesheet" href="/static/css/order.css">
</head>
<body>
              <div class="container">
                            <div class="title">
                                <h2>Product Order Form</h2>
                            </div>
                          <div class="d-flex">
                            <form action="/orderhandle/{{plan.name}}/{{plan.amount}}/" method="post">
                              {% csrf_token %}
                              <label>
                                <span>Company Name:</span>
                                <input type="text" name="cn">
                              </label>
                              <label>
                                <span>Email Address<span class="required">*</span></span>
                                <input type="email" value="{{request.user}}" name="email"> 
                              </label>
                              <div class="Yorder">
                                <table>
                                  <tr>
                                    <th colspan="2">Your order</th>
                                  </tr>
                                  <tr>
                                    <td>Product Name: {{plan.name}}</td>
                                    <td name="amount">₹-{{plan.amount}}</td>
                                  </tr>
                                  <tr>
                                    <td>Subtotal</td>
                                    <td name="amount">₹-{{plan.amount}}</td>
                                  </tr>
                                </table><br>
                                <button type="submit">Place Order</button>
                              </div><!-- Yorder -->
                            </form>
                           </div>
                          </div>

                      
</body>
</html>