<!DOCTYPE html>
<html lang="en">
<head>
             <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Quiz-Plans</title>

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/plans.css">
</head>
<body class="sub_page">

              <div class="hero_area">
                            <!-- header section strats -->
                            <header class="header_section">
                              <div class="container-fluid">
                                <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                                  <a class="navbar-brand" href="{% url 'index' %}">
                                    <img src="/static/img/lc/logo-no-background.png" height="50" width="200">
                                  </a>
                                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                  </button>
                        
                                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                                      <ul class="navbar-nav">
                                        <li class="nav-item active">
                                          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="{% url 'docs' %}">Documentation</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="{% url 'displayAllQuiz' %}">Quiz's</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="{% url 'about' %}"> AboutUs </a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="{% url 'contact' %}">ContactUs</a>
                                        </li>
                                      </ul>
                                      {% if user.is_authenticated %}
                                      <div class="dropdown">
                                        <button class="dropbtn">welcome {{request.user.first_name}}</button>
                                        <div class="dropdown-content">
                                          <a href="{% url 'logout' %}">Logout</a>
                                          <a href="#">Profile<</a>
                                        </div>
                                      </div>
                                         
                                      {% else %}
                                      <div class="col-md-5">
                                        <div class="search-box">
                                                <button class="btn register"><a href="{% url 'register' %}">Register</a></button>
                                                <button class="btn login"><a href="{% url 'login' %}">Login</a></button>  
                                        </div>
                                      </div>
                                      {% endif %}
                                    </div>
                                  </div>
                                </nav>
                              </div>
                            </header>
                            <!-- end header section -->
                          </div>
                          {% if messages %}
                          <ul id="messages">
                  {% for message in messages %}
                  {{ message }}<br></li>
                  {% endfor %}
                          </ul>
                          {% endif %}      
              <!--  -->
                        {% if quizP %}
                          <div class="card">
                            <div class="card-header">
                              Messaged-By: @LEADCODER-TEAM
                            </div>
                            <div class="card-body">
                              <h4 class="card-title">You have this plan: {{orderGetData.plans}} is active!</h4>
                              <p class="card-text">You want to change your plan then send a mail to us on connect.leadcoder@gmail.com</p>
                              <p class="card-text">We will resolve your query in 2-3 Business Days!</p>
                              <p class="card-text"></p>
                            </div>
                        {% else %}
                          <section class="pricing py-5">
                            <div class="container">
                              <div class="row">
                                <!-- Free Tier -->
                                <div class="col-lg-4">
                                  <div class="card mb-5 mb-lg-0">
                                    <div class="card-body">
                                      <h5 class="card-title text-muted text-uppercase text-center">Basic</h5>
                                      <h6 class="card-price text-center">₹-100<span class="period">/month</span></h6>
                                      <hr>
                                      <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Main User</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>50 Students Invite/ Quiz</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>20 Questions Upload/ Quiz</li>
                                        <li class=""><span class="fa-li"><i class="fas fa-times"></i></span>2 Quiz Upload</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated
                                          Phone Support</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>limited Answer Selection</li> 
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span> Multiple-Invite</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                                      </ul>
                                      <div class="d-grid">
                                        <a href="/order/3/" class="btn btn-primary text-uppercase">Buy</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- Plus Tier -->
                                <div class="col-lg-4">
                                  <div class="card mb-5 mb-lg-0">
                                    <div class="card-body">
                                      <h5 class="card-title text-muted text-uppercase text-center">Medium</h5>
                                      <h6 class="card-price text-center">₹-200<span class="period">/month</span></h6>
                                      <hr>
                                      <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>2-Main User</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>70 Students Invite/ Quiz</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>40 Questions Upload/ Quiz</li>
                                        <li class=""><span class="fa-li"><i class="fas fa-times"></i></span>5 Quiz Upload</li>
                                        <li class=""><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                                        <li class=""><span class="fa-li"><i class="fas fa-times"></i></span>limited Answer Selection</li>  
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Multiple-Invite</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                                      </ul>
                                      <div class="d-grid">
                                        <a href="/order/4/" class="btn btn-primary text-uppercase">Buy</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- Pro Tier -->
                                <div class="col-lg-4">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title text-muted text-uppercase text-center">Advanced</h5>
                                      <h6 class="card-price text-center">₹-500<span class="period">/month</span></h6>
                                      <hr>
                                      <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Multiple-Main User</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimeted Students Invite/ Quiz</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Questions Upload/ Quiz</li>
                                        <li class=""><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Quiz Upload</li>
                                        <li class=""><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                                        <li class=""><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Answer Selection</li>  
                                        <li class=""><span class="fa-li"><i class="fas fa-times"></i></span>Multiple-Invite</li>
                                        <li class=""><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                                      </ul>
                                      <div class="d-grid">
                                        <a href="/order/5/" class="btn btn-primary text-uppercase">Buy</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>        
                            </section>
                          {% endif %}
                           <br>
  <!-- info section -->
  <section class="info_section ">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <div class="info_contact">
                      <h5>
                        About Shop
                      </h5>
                      <div>
                        <div class="img-box">
                          <img src="images/location-white.png" width="18px" alt="">
                        </div>
                        <p>
                          Address
                        </p>
                      </div>
                      <div>
                        <div class="img-box">
                          <img src="images/telephone-white.png" width="12px" alt="">
                        </div>
                        <p>
                          +01 1234567890
                        </p>
                      </div>
                      <div>
                        <div class="img-box">
                          <img src="images/envelope-white.png" width="18px" alt="">
                        </div>
                        <p>
                          demo@gmail.com
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="info_info">
                      <h5>
                        Informations
                      </h5>
                      <p>
                        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      </p>
                    </div>
                  </div>
          
                  <div class="col-md-3">
                    <div class="info_insta">
                      <h5>
                        Instagram
                      </h5>
                      <div class="insta_container">
                        <div>
                          <a href="">
                            <div class="insta-box b-1">
                              <img src="images/insta.png" alt="">
                            </div>
                          </a>
                          <a href="">
                            <div class="insta-box b-2">
                              <img src="images/insta.png" alt="">
                            </div>
                          </a>
                        </div>
          
                        <div>
                          <a href="">
                            <div class="insta-box b-3">
                              <img src="images/insta.png" alt="">
                            </div>
                          </a>
                          <a href="">
                            <div class="insta-box b-4">
                              <img src="images/insta.png" alt="">
                            </div>
                          </a>
                        </div>
                        <div>
                          <a href="">
                            <div class="insta-box b-3">
                              <img src="images/insta.png" alt="">
                            </div>
                          </a>
                          <a href="">
                            <div class="insta-box b-4">
                              <img src="images/insta.png" alt="">
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="info_form ">
                      <h5>
                        Newsletter
                      </h5>
                      <form action="">
                        <input type="email" placeholder="Enter your email">
                        <button>
                          Subscribe
                        </button>
                      </form>
                      <div class="social_box">
                        <a href="">
                          <img src="images/fb.png" alt="">
                        </a>
                        <a href="">
                          <img src="images/twitter.png" alt="">
                        </a>
                        <a href="">
                          <img src="images/linkedin.png" alt="">
                        </a>
                        <a href="">
                          <img src="images/youtube.png" alt="">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          
            <!-- end info_section -->
          
          
            <!-- footer section -->
            <section class="container-fluid footer_section">
              <p>
                &copy; 2020 All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
              </p>
            </section>
            <!-- footer section -->
           
</body>
</html>