<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Upload</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   
    <!-- Quill CSS for Text Editor -->
</head>
<body>
              <div class="container mt-5">
                <h2 class="text-center">Upload Question to Quiz</h2>
                <form method = "post" enctype="multipart/form-data">
                    {% csrf_token %} 
                    {{form.media}}
                  <!-- Category -->
                  <div class="form-group">
                    <label for="category">Category</label>
                    <!-- <input type="text" class="form-control" id="category" name="category" placeholder="Enter question category" required> -->
                    <select name="category" class="form-control" required id="category">
                            {% for category in form.category %}
                            <option value="{{category.pk}}">{{category}}</option>
                           {% endfor %}      
                      </select>  
                </div>
            
                  <!-- Quiz -->
                  <div class="form-group">
                    <label for="quiz">Quiz</label>
                    <select name="quiz" class="form-control" required id="id_quiz">
                    <option value="">------Select-----</option>   
                        <option value="{{quizData.pk}}">{{quizData.title}}</option>
                  </select>
                  </div>
                
                  <!-- Question Editor -->
                  <div class="form-group">
                    <label for="id_question">Question</label><br>
                   {{form.question}}
                   
                </div>
                
                 
                  
                  <!-- Question Level -->
                  <div class="form-group">
                    <label for="levelofq">Level of Question</label>
    
                      <input type="text" name="levelofq" value="{{form.levelofq.value}}" required class="form-control">
                       
                  </div>
            
                  <!-- Marks -->
                  <div class="form-group">
                    <label for="marks">Marks</label>
                    <input type="number" name="marks" class="form-control" value="{{form.marks.value}}"/>
                </div>
                <input type="submit" class="btn btn-primary" value="Upload Question" />
                </form>
              </div>
            
              <!-- Bootstrap JS and Dependencies -->
              <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
             
            
              
             
</body>
</html>