<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Management Dashboard - LEADCODER</title>

    <!-- iconscout cdn path -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <!-- CSS File Link -->
    <link rel="stylesheet" href="/static/css/admin_style.css" />
  </head>

  <body>
    {% csrf_token %}
    <div class="sidebar" id="sidebar">
      <div class="logo">
        <h2>
          <div class="logo-img">
            <img src="/static/img/lc/logo-white.png" alt="" />
          </div>
        </h2>
      </div>

      <div class="sidebar-menu">
        <ul>
          <li>
            <i class="uil uil-dashboard"></i>
            <a href="/controlPanelForQuizManage/"><span>Dashboard</span></a>
          </li>
          <li>
            <i class="uil uil-clipboard-notes"></i>
            <a href="/allQuizPageForQuizManage/"><span>All Quiz</span></a>
          </li>
          <!-- <li>
               <i class="uil uil-shopping-bag"></i>
               <a href=""><span>Orders</span></a>
            </li> -->
          <li>
            <i class="uil uil-user-circle"></i>
            <a href="/profile/{{request.user.email}}/"
              ><span>Account</span></a
            >
          </li>
          <li>
            <i class="uil uil-signin"></i>
            <a  href="{% url 'logout' %}">
              <span>Logout</span></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-content" id="main-content">
      <header class="flex">
        <h2>
          <i class="uil uil-bars" id="menu-icon"></i>
          Dashboard
        </h2>
        <div class="admin-box flex">
          <img src="/static/img/lc/logo-white.png" width="30px" height="30px" />
          <div>
            <h4>{{request.user.first_name}}</h4>
            <small>Admin</small>
          </div>
        </div>
      </header>
      {% if messages %}
      <ul id="messages">
           {% for message in messages %}
            {{ message }}<br></li>
      {% endfor %}
      </ul>
      {% endif %}
      <main>
        <div class="wrapper flex">
          <div class="projects">
            <div class="card-header flex">
              <h3>Quiz Invitation's</h3>
              {% if quizInviteDataFor50 %}
                {% if quizInviteDataFor50 %}
              <button disabled>
                <a href="" class="btn btn-primary">You Got the limit to Invite!</a><i class="link"></i>
              </button>
                {% else %}
              <button>
                <a href="/quizInvite/{{quizData.pk}}/" class="btn btn-primary">Create New Invite!</a><i class="link"></i>
              </button>
               {% endif %}
              {% elif quizInviteDataFor70 %}
                {% if quizInviteDataFor70 %}
                <button disabled>
                  <a href="" class="btn btn-primary">You Got the limit to Invite!</a><i class="link"></i>
                </button>
                  {% else %}
                <button>
                  <a href="/quizInvite/{{quizData.pk}}/" class="btn btn-primary">Create New Invite!</a><i class="link"></i>
                </button>
                 {% endif %}
              {% else %}
                {% if quizInviteDataForUnlim %}
                <button disabled>
                  <a href="" class="btn btn-primary">You Got the limit to Invite!</a><i class="link"></i>
                </button>
                  {% else %}
                <button>
                  <a href="/quizInvite/{{quizData.pk}}/" class="btn btn-primary">Create New Invite!</a><i class="link"></i>
                </button>
                 {% endif %}
              {% endif %}
            </div>

            <table>
              <thead>
                <th>
                  <tr>
                    <td>Quiz Name</td>
                    <td>College</td>
                    <td>Branch</td>
                    <td>Passout Year</td>
                    <td>Phone</td>
                    <td>Country</td>
                    <td>user</td>
                    <td>Invited_at</td>
                    <td>Action</td>
                  </tr>
                </th>
              </thead>
              {% for quizInviteDisplay in quizInviteDisplay %}
              <tbody>
                <tr>
                  <td>{{quizInviteDisplay.quiz}}</td>
                  <td>{{quizInviteDisplay.college}}</td>
                  <td>{{quizInviteDisplay.branch}}</td>
                  <td>{{quizInviteDisplay.passyear}}</td>
                  <td>{{quizInviteDisplay.phone}}</td>
                  <td>{{quizInviteDisplay.country}}</td>
                  <td>{{quizInviteDisplay.user}}</td>
                  <td>{{quizInviteDisplay.invited_at}}</td>
                  <td>
                    <a href="/editquizInvite/{{quizInviteDisplay.pk}}/{{quizInviteDisplay.quiz.quid}}/">
                            <span class="glyphicon glyphicon-pencil">Edit</span></a
                    >
                    <a href="/conformQuizInviteForDelete/{{quizInviteDisplay.pk}}/"
                      ><span class="glyphicon glyphicon-pencil">Delete</span></a
                    >
                  </td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
<!-- 
          <div class="customers">
            <div class="card-header flex">
              <h3>Recents Submissions</h3>
              <button>
                <a href="/productsPageForAdmin/">See all</a><i class="link"></i>
              </button>
            </div>

            <table>
              <thead>
                <th>
                  <tr>
                    <td>Name</td>
                    <td>Score</td>
                    <td>Submited_at</td>
                    <td>Action</td>
                  </tr>
                </th>
              </thead>
              <tr class="flex">
                {% for quizSubmited in quizSubmited %}
              </tr>

              <tr>
                <td>{{quizSubmited.quiz}}</td>
                <td>{{quizSubmited.score}}</td>
                <td>{{quizSubmited.submited_at}}</td>
                <td>
                  <a href="/editProduct/{{ product.Product_id }}"
                    ><span class="glyphicon glyphicon-pencil">Edit</span></a
                  >
                  <a href="/destroy/{{ product.Product_id }}"
                    ><span class="glyphicon glyphicon-pencil" onclick="popup()"
                      >Delete</span
                    ></a
                  >
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>              
      </main>
    </div> -->

    <script>
      let sideBar = document.getElementById("sidebar");
      let menuIcon = document.getElementById("menu-icon");
      let mainContent = document.getElementById("main-content");

      menuIcon.onclick = () => {
        sideBar.classList.toggle("toggleMenu");
        mainContent.classList.toggle("toggleContent");
      };
    </script>
  </body>
</html>
