<!DOCTYPE html>
<html lang="en">
<head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>select</title>

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>
<body>
              <form method="post" action="/Pycode/">
                            {% csrf_token %}
                            <select class="form-select form-select-lg mb-3" name="select_id" aria-label=".form-select-lg example">
                                          <option selected> Select Language</option>
                                          {% for category in category %}
                                          <option  value="{{category.name}}">{{category.name}}</option>
                                          {% endfor %}
                                          </select>
                                          <input type="submit" value="submit"/>
              </form>
</body>
</html>