{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Quiz</title>
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
               <link rel="stylesheet" href="/static/css/quiz.css">
               
</head>
<body>
  

   
              <form method="post" action="/submitAnswer/{{questions.qid}}/{{questions.quiz.quid}}/">
                            {% csrf_token %}
              <div class="quiz-container" id="quiz">
                Time left:<span id="timer"></span>
                 
               
                            <h2 id="question">{{questions.question|safe}}</h2>
                            <div class="loading-bar">
                              <div class="loading-bar-progress" id="loading-bar-progress"></div>
                            </div>
                           
                            {% for answer in answer %}
                            <ul>
                              <li>
                                <input type="radio" value="{{ answer.id }}" name="answer_id" id="{{answer.id}}" class="answer">
                                <label for="{{answer.id}}" id="{{answer.id}}">{{answer.answers}}</label>
                              </li>
                            </ul>
                              {% endfor %}
                               <button id="submit" class="submitbtn">Submit</button>
                               <!-- <button class="skipBtn" value="Skip" id="Skip">Skip</button>-->
                              </div> 
              </form>
              <script>
                document.addEventListener('DOMContentLoaded', function() {
                    // Get the end time from the server
                    let endTime = new Date("{{ end_time|date:'Y-m-d H:i:s' }}").getTime();
                    
                    // Update the countdown every 1 second
                    let x = setInterval(function() {
                        let now = new Date().getTime();
                        let distance = endTime - now;
        
                        let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        let seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
                        // Display the result
                        document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";
        
                        // When the timer is finished
                        if (distance < 0) {
                            clearInterval(x);
                            document.getElementById("timer").innerHTML = "Time's up!";
                            /// Automatically submit the quiz when time runs out
                        }
                    }, 1000);
                });
            </script>
              




            </body>
</html>